
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
/* Background */
.myclass__fishbg {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}
/* header */

header {
    font-family: 'Roboto', sans-serif;

}

.myclass__logomobile {
    fill: white;
    display: inline-block;
}

.myclass__menumobile {
    padding: 15px 0px;
}

.fa-bars {
    color: white;
    display: inline;
    font-size: 18px;
    opacity: 0.5;
}

.myclass__menumobiledx {
    text-align: right;
    margin-top: 23px;
}

nav {
    display: none;
}

@media screen and (min-width:1050px) {
    .myclass__menumobiledx {
        display: none;
    }

    .myclass__logomobile {
        display: none;
    }

    nav {
        display: block;
    }

    .white {
        background-color: white;
    }

    .myclass__logodesk{
        fill: #0069ff;
        display: inline;
    }

    .myclass__menudesk {
        padding: 15px 0px;
    }

    .myclass__menudesk1 {
        padding: 15px 0px;
    }

    .myclass__link {
        margin-top: 8px;
    }

    .myclass__link a {
        margin-right: 25px;
        text-decoration: none;
        color: black;
    }

    .myclass__link a:hover {
        color: #3f8eff;
    }

    .myclass__btn-blue {
        border: 1px solid #3f8eff;
        color: #3f8eff;
        font-weight: 500;
        padding: 5px 15px;
    }

    .myclass__btn-blue:hover {
        background-color: #3f8eff;
        color:white;
    }

}
