
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
/* Background */
.myclass__fishbg {
    background-color: #0248ff;
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}
/* header */

header {
    font-family: 'Roboto', sans-serif;

}

.myclass__logomobile {
    fill: white;
    display: inline-block;
}

.myclass__menumobile {
    padding: 15px 0px;
}

.fa-bars {
    color: white;
    display: inline;
    font-size: 18px;
    opacity: 0.5;
}

.myclass__menumobiledx {
    text-align: right;
    margin-top: 23px;
}

nav {
    display: none;
}

.myclass__welcome {
    color: white;
    padding: 0;
}

.myclass__welcome2 {
    padding: 0;
    margin-top: 30px;
}

.myclass_welcome h1 {
    font-size: 30px;
}

.myclass__welcome p {
    opacity: .8;
    font-size: 25px;
}
/* banner */

.myclass__bannerspace {
    padding-top: 60px;
}

.jumbotron {
    background-color: white;
    padding-top: 15px;
}

.form-group {
    padding-top: 5px 0px;
    border:none;
    border-radius: 0;
    background: 0 0 ;
    box-shadow: none;
}

.form-control {
    border: 1px solid #f1f1f1;
    border-radius: 5px;

}

::placeholder {
    font-size: 15px;
}

#name,
#exampleInputemal,
#password {
    color: black;
    height: 48px;
}


.myclass__spazio:before,
.myclass__spazio:after {
    content: "" ;
    width: 100px;
    height: 2px;
    background-color: black;
    display: inline-block;
}

#inline {
    display: inline;
}

.btn-block {
    background-color: #0069ff;
    height: 48px;
}

.jumbotron h2 {
    padding: 0px 0px 20px;
}

.jumbotron {

}



@media screen and (min-width:1050px) {
    .myclass__menumobiledx {
        display: none;
    }

    .myclass__logomobile {
        display: none;
    }

    nav {
        display: block;
    }

    .white {
        background-color: white;
    }

    .myclass__logodesk{
        fill: #0069ff;
        display: inline;
    }

    .myclass__menudesk {
        padding: 15px 0px;
    }

    .myclass__menudesk1 {
        padding: 15px 0px;
    }

    .myclass__link {
        margin-top: 8px;
    }

    .myclass__link a {
        margin-right: 25px;
        text-decoration: none;
        color: black;
    }

    .myclass__link a:hover {
        color: #3f8eff;
    }

    .myclass__btn-blue {
        border: 1px solid #3f8eff;
        color: #3f8eff;
        font-weight: 500;
        padding: 5px 15px;
    }

    .myclass__btn-blue:hover {
        background-color: #3f8eff;
        color:white;
    }

}

@media screen and (max-width:767px) {
    .myclass__fishbg {
        background-color: #0248ff;
        background-image: none;
    }
}

@media screen and (min-width:768px) {
    .myclass__welcome {
        padding-top: 80px;
    }

    .myclass__bannerspace {
        padding-top: 100px;
    }
}
