
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
/* Background */
.myclass__fishbg {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}
/* header */
.myclass__logomobile {
    fill: white;
    display: inline-block;
}

.myclass__menumobile {
    padding: 10px 0px;
}

.fa-bars {
    color: white;
    display: inline;
    font-size: 18px;
    opacity: 0.5;
}

.myclass__menumobiledx {
    text-align: right;
    margin-top: 18px;
}

nav {
    display: none;
}

@media screen and (min-width:1050px) {
    .myclass__menumobiledx {
        display: none;
    }

    .myclass__logomobile {
        display: none;
    }

    nav {
        display: block;
    }

    .myclass__logodesk{
        fill: #0069ff;
        display: inline-block;
    }

    .myclass__menudesk {
        padding: 10px 0px;
    }

}
